stepfunctions/state_machine.json
{
  "Comment": "PoC Tatuaje Auna v2.1 - Outbound call orchestrator (1 msg SQS = 1 afiliado)",
  "StartAt": "ValidarHorario",
  "States": {
    "ValidarHorario": {
      "Type": "Choice",
      "Comment": "Estado 0: Verifica horario laboral Peru. force_run=true salta el check para testing.",
      "Choices": [
        {
          "Variable": "$.force_run",
          "BooleanEquals": true,
          "Next": "ConsultarBlacklist"
        }
      ],
      "Default": "HealthCheckHorario"
    },
    "HealthCheckHorario": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-east-1:769488154338:function:auna-tatuaje-poc-health-check:live",
        "Payload": {
          "action": "check_hours",
          "call_id.$": "$.call_id"
        }
      },
      "ResultPath": "$.hours_check",
      "Next": "EsHorarioValido",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.hours_check_error",
          "Next": "ConsultarBlacklist"
        }
      ]
    },
    "EsHorarioValido": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.hours_check.Payload.in_working_hours",
          "BooleanEquals": true,
          "Next": "ConsultarBlacklist"
        }
      ],
      "Default": "RegistrarFueraHorario"
    },
    "RegistrarFueraHorario": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:putItem",
      "Parameters": {
        "TableName": "auna-tatuaje-poc-interacciones",
        "Item": {
          "call_id": { "S.$": "$.call_id" },
          "afiliado_dni": { "S.$": "$.dni" },
          "telefono": { "S.$": "$.telefono" },
          "resultado": { "S": "fuera_horario" },
          "timestamp_inicio": { "S.$": "$$.State.EnteredTime" }
        }
      },
      "ResultPath": null,
      "End": true
    },
    "ConsultarBlacklist": {
      "Type": "Task",
      "Comment": "Estado 1: Consulta DynamoDB blacklist directamente",
      "Resource": "arn:aws:states:::dynamodb:getItem",
      "Parameters": {
        "TableName": "auna-tatuaje-poc-blacklist",
        "Key": {
          "telefono": {
            "S.$": "$.telefono"
          }
        }
      },
      "ResultPath": "$.blacklist_result",
      "Next": "EvaluarBlacklist",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.blacklist_error",
          "Next": "HealthCheck"
        }
      ]
    },
    "EvaluarBlacklist": {
      "Type": "Choice",
      "Comment": "Si activo=true Y intentos_fallidos >= 3, no llamar",
      "Choices": [
        {
          "And": [
            { "Variable": "$.blacklist_result.Item", "IsPresent": true },
            { "Variable": "$.blacklist_result.Item.activo.BOOL", "BooleanEquals": true },
            { "Variable": "$.blacklist_result.Item.intentos_fallidos.N", "StringGreaterThanEquals": "3" }
          ],
          "Next": "RegistrarBlacklist"
        }
      ],
      "Default": "HealthCheck"
    },
    "RegistrarBlacklist": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:putItem",
      "Parameters": {
        "TableName": "auna-tatuaje-poc-interacciones",
        "Item": {
          "call_id": { "S.$": "$.call_id" },
          "afiliado_dni": { "S.$": "$.dni" },
          "telefono": { "S.$": "$.telefono" },
          "resultado": { "S": "en_blacklist" },
          "timestamp_inicio": { "S.$": "$$.State.EnteredTime" }
        }
      },
      "ResultPath": null,
      "End": true
    },
    "HealthCheck": {
      "Type": "Task",
      "Comment": "Estado 2: Ping API Multisede via Lambda Health Check",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-east-1:769488154338:function:auna-tatuaje-poc-health-check:live",
        "Payload.$": "$"
      },
      "ResultPath": "$.health",
      "Next": "EvaluarHealthCheck",
      "Retry": [
        {
          "ErrorEquals": ["States.TaskFailed"],
          "IntervalSeconds": 30,
          "MaxAttempts": 2,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.health_error",
          "Next": "RegistrarApiCaida"
        }
      ]
    },
    "EvaluarHealthCheck": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.health.Payload.api_available",
          "BooleanEquals": true,
          "Next": "RegistrarInicio"
        }
      ],
      "Default": "RegistrarApiCaida"
    },
    "RegistrarApiCaida": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:putItem",
      "Parameters": {
        "TableName": "auna-tatuaje-poc-interacciones",
        "Item": {
          "call_id": { "S.$": "$.call_id" },
          "afiliado_dni": { "S.$": "$.dni" },
          "telefono": { "S.$": "$.telefono" },
          "resultado": { "S": "api_caida" },
          "timestamp_inicio": { "S.$": "$$.State.EnteredTime" }
        }
      },
      "ResultPath": null,
      "End": true
    },
    "RegistrarInicio": {
      "Type": "Task",
      "Comment": "Estado 3: Registra inicio de llamada en DynamoDB",
      "Resource": "arn:aws:states:::dynamodb:putItem",
      "Parameters": {
        "TableName": "auna-tatuaje-poc-interacciones",
        "Item": {
          "call_id": { "S.$": "$.call_id" },
          "afiliado_dni": { "S.$": "$.dni" },
          "afiliado_nombre": { "S.$": "$.nombre_completo" },
          "telefono": { "S.$": "$.telefono" },
          "sede_referencia": { "S.$": "$.sede_referencia" },
          "programa": { "S.$": "$.programa" },
          "cuotas_pagadas": { "S.$": "$.cuotas_pagadas" },
          "grupo_cuota": { "S.$": "$.grupo_cuota" },
          "cod_campana": { "S.$": "$.cod_campana" },
          "timestamp_inicio": { "S.$": "$$.State.EnteredTime" },
          "resultado": { "S": "iniciando" },
          "modelo_usado": { "S": "nova-sonic-2" }
        }
      },
      "ResultPath": null,
      "Next": "IniciarLlamadaConnect"
    },
    "IniciarLlamadaConnect": {
      "Type": "Task",
      "Comment": "Estado 4: Lanza StartOutboundVoiceContact. El Contact Flow outbound (auna-tatuaje-poc-outbound) recibe los Attributes y corre con Nova Sonic/Nova Pro/Q Connect.",
      "Resource": "arn:aws:states:::aws-sdk:connect:startOutboundVoiceContact",
      "Parameters": {
        "InstanceId": "4830896a-ec8c-4ee7-9499-de31587fbb36",
        "ContactFlowId": "202c52df-5497-4e4e-a76d-0e6556308910",
        "DestinationPhoneNumber.$": "$.telefono",
        "SourcePhoneNumber": "+5116433701",
        "Attributes": {
          "call_id.$": "$.call_id",
          "dni.$": "$.dni",
          "center_id.$": "$.sede_referencia",
          "sede_referencia.$": "$.sede_referencia",
          "programa.$": "$.programa",
          "nombre_completo.$": "$.nombre_completo",
          "telefono.$": "$.telefono",
          "cod_campana.$": "$.cod_campana",
          "cuotas_pagadas.$": "$.cuotas_pagadas",
          "grupo_cuota.$": "$.grupo_cuota"
        }
      },
      "ResultPath": "$.connect_result",
      "Next": "RegistrarLlamadaIniciada",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.connect_error",
          "Next": "RegistrarErrorConnect"
        }
      ]
    },
    "RegistrarLlamadaIniciada": {
      "Type": "Task",
      "Comment": "Actualiza el registro con el connect_contact_id (para correlacionar con logs de flow)",
      "Resource": "arn:aws:states:::dynamodb:updateItem",
      "Parameters": {
        "TableName": "auna-tatuaje-poc-interacciones",
        "Key": { "call_id": { "S.$": "$.call_id" } },
        "UpdateExpression": "SET connect_contact_id = :cid, resultado = :res",
        "ExpressionAttributeValues": {
          ":cid": { "S.$": "$.connect_result.ContactId" },
          ":res": { "S": "en_llamada" }
        }
      },
      "ResultPath": null,
      "End": true
    },
    "RegistrarErrorConnect": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:updateItem",
      "Parameters": {
        "TableName": "auna-tatuaje-poc-interacciones",
        "Key": { "call_id": { "S.$": "$.call_id" } },
        "UpdateExpression": "SET resultado = :res, error_detalle = :err",
        "ExpressionAttributeValues": {
          ":res": { "S": "error_connect" },
          ":err": { "S.$": "States.Format('{}', $.connect_error)" }
        }
      },
      "ResultPath": null,
      "End": true
    }
  }
}
